<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.soa.dao.EquipmentPropertiesMapper">
	<resultMap id="BaseResultMap"
		type="cn.soa.entity.EquipmentProperties">
		<id column="ID" jdbcType="VARCHAR" property="id" />
		<result column="EQU_ID" jdbcType="VARCHAR" property="equId" />
		<result column="PRO_NAME_CN" jdbcType="VARCHAR"
			property="proNameCn" />
		<result column="PRO_NAME_EN" jdbcType="VARCHAR"
			property="proNameEn" />
		<result column="PRO_VALUE" jdbcType="VARCHAR"
			property="proValue" />
		<result column="STANDBY1" jdbcType="VARCHAR"
			property="standby1" />
		<result column="STANDBY2" jdbcType="VARCHAR"
			property="standby2" />
		<result column="STANDBY3" jdbcType="VARCHAR"
			property="standby3" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, EQU_ID, PRO_NAME_CN, PRO_NAME_EN, PRO_VALUE, STANDBY1,
		STANDBY2,
		STANDBY3
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from IOT_EQUIPMENT_PROPERTIES
		where ID = #{id,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from
		IOT_EQUIPMENT_PROPERTIES
		where ID = #{id,jdbcType=VARCHAR}
	</delete>
	<insert id="insert"
		parameterType="cn.soa.entity.EquipmentProperties">
		insert into IOT_EQUIPMENT_PROPERTIES (ID, EQU_ID,
		PRO_NAME_CN,
		PRO_NAME_EN, PRO_VALUE, STANDBY1,
		STANDBY2, STANDBY3)
		values (#{id,jdbcType=VARCHAR}, #{equId,jdbcType=VARCHAR},
		#{proNameCn,jdbcType=VARCHAR},
		#{proNameEn,jdbcType=VARCHAR},
		#{proValue,jdbcType=VARCHAR}, #{standby1,jdbcType=VARCHAR},
		#{standby2,jdbcType=VARCHAR}, #{standby3,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective"
		parameterType="cn.soa.entity.EquipmentProperties">
		insert into IOT_EQUIPMENT_PROPERTIES
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="equId != null">
				EQU_ID,
			</if>
			<if test="proNameCn != null">
				PRO_NAME_CN,
			</if>
			<if test="proNameEn != null">
				PRO_NAME_EN,
			</if>
			<if test="proValue != null">
				PRO_VALUE,
			</if>
			<if test="standby1 != null">
				STANDBY1,
			</if>
			<if test="standby2 != null">
				STANDBY2,
			</if>
			<if test="standby3 != null">
				STANDBY3,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="equId != null">
				#{equId,jdbcType=VARCHAR},
			</if>
			<if test="proNameCn != null">
				#{proNameCn,jdbcType=VARCHAR},
			</if>
			<if test="proNameEn != null">
				#{proNameEn,jdbcType=VARCHAR},
			</if>
			<if test="proValue != null">
				#{proValue,jdbcType=VARCHAR},
			</if>
			<if test="standby1 != null">
				#{standby1,jdbcType=VARCHAR},
			</if>
			<if test="standby2 != null">
				#{standby2,jdbcType=VARCHAR},
			</if>
			<if test="standby3 != null">
				#{standby3,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="cn.soa.entity.EquipmentProperties">
		update IOT_EQUIPMENT_PROPERTIES
		<set>
			<if test="equId != null">
				EQU_ID = #{equId,jdbcType=VARCHAR},
			</if>
			<if test="proNameCn != null">
				PRO_NAME_CN = #{proNameCn,jdbcType=VARCHAR},
			</if>
			<if test="proNameEn != null">
				PRO_NAME_EN = #{proNameEn,jdbcType=VARCHAR},
			</if>
			<if test="proValue != null">
				PRO_VALUE = #{proValue,jdbcType=VARCHAR},
			</if>
			<if test="standby1 != null">
				STANDBY1 = #{standby1,jdbcType=VARCHAR},
			</if>
			<if test="standby2 != null">
				STANDBY2 = #{standby2,jdbcType=VARCHAR},
			</if>
			<if test="standby3 != null">
				STANDBY3 = #{standby3,jdbcType=VARCHAR},
			</if>
		</set>
		where ID = #{id,jdbcType=VARCHAR}
	</update>

	<!-- 根据equId和 proNameEn 修改数据 -->
	<update id="updateSelective"
		parameterType="cn.soa.entity.EquipmentProperties">
		update IOT_EQUIPMENT_PROPERTIES
		<set>
			<if test="proValue != null">
				PRO_VALUE = #{proValue,jdbcType=VARCHAR},
			</if>
			<if test="standby1 != null">
				STANDBY1 = #{standby1,jdbcType=VARCHAR},
			</if>
			<if test="standby2 != null">
				STANDBY2 = #{standby2,jdbcType=VARCHAR},
			</if>
			<if test="standby3 != null">
				STANDBY3 = #{standby3,jdbcType=VARCHAR},
			</if>
		</set>
		where EQU_ID = #{equId,jdbcType=VARCHAR}
		and PRO_NAME_EN =
		#{proNameEn,jdbcType=VARCHAR}
	</update>


	<update id="updateByPrimaryKey"
		parameterType="cn.soa.entity.EquipmentProperties">
		update IOT_EQUIPMENT_PROPERTIES
		set EQU_ID =
		#{equId,jdbcType=VARCHAR},
		PRO_NAME_CN = #{proNameCn,jdbcType=VARCHAR},
		PRO_NAME_EN = #{proNameEn,jdbcType=VARCHAR},
		PRO_VALUE =
		#{proValue,jdbcType=VARCHAR},
		STANDBY1 = #{standby1,jdbcType=VARCHAR},
		STANDBY2 = #{standby2,jdbcType=VARCHAR},
		STANDBY3 =
		#{standby3,jdbcType=VARCHAR}
		where ID = #{id,jdbcType=VARCHAR}
	</update>


	<delete id="delByEquIds"
		parameterType="cn.soa.entity.EquipmentCommonInfo">
		delete from IOT_EQUIPMENT_PROPERTIES
		where EQU_ID in
		<foreach collection="list" open="(" separator="," close=")"
			index="index" item="item">
			#{item.equId,jdbcType=VARCHAR}
		</foreach>
	</delete>
	
	<!-- 根据条件删除 -->
	<delete id="deleteByCondition" parameterType="cn.soa.entity.QueryCondition">
		delete from IOT_EQUIPMENT_PROPERTIES
		where EQU_ID = #{equId,jdbcType=VARCHAR}
	</delete>
	
	
	<insert id="recoveryEquInfo" parameterType="cn.soa.entity.QueryCondition">
		insert into IOT_EQUIPMENT_PROPERTIES
		select sys_guid() as ID, EQU_ID, PRO_NAME_CN, PRO_NAME_EN, PRO_VALUE, STANDBY1,
		STANDBY2,
		STANDBY3
		from IOT_EQUIPMENT_PROPERTIES_BACK 
		WHERE BACK_ID = #{backId,jdbcType=VARCHAR}
	</insert>
	
	


</mapper>