<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="cn.soa.dao.EquipmentBigEventMapper">

	<!-- ===========================1、查询===============================  -->
	<!-- 1.1、根据设备位号查找设备大事件信息	-->
	<!-- List<EquipmentBigEvent> findByPositionNum(
			@Param("positionNum") String positionNum, 
			@Param("page") Integer page, 
			@Param("limit") Integer limit) -->
	
	<sql id="EquipmentBigEventSQL">
		BEID beid, MRID mrid, POSITIONNUM positionNum, EVENT event, EVENTTIME eventTime, REMARK1 remark1, REMARK2 remark2
	</sql>
			
	<select id="findByPositionNum" resultType="cn.soa.entity.EquipmentBigEvent">
		SELECT
			<include refid="EquipmentBigEventSQL"></include>
		FROM
			(
				SELECT ROWNUM rownum1,equip_result.*
				FROM(
					SELECT equip.*
					FROM
						IOT_EQUIPMENT_BIGEVENT equip
					WHERE
						POSITIONNUM = #{positionNum}
					ORDER BY EVENTTIME DESC	
				) equip_result
				WHERE 
				<if test="limit != null and page != null">
						ROWNUM &gt; ${(page-1) * limit}
				</if>
			)
			WHERE
				<if test="limit != null and page != null">
						rownum1 &gt; ${(page-1) * limit}
				</if>
	</select>
	
	<!-- 1.2、统计查找设备大事件条数	-->
	<!-- Integer countEvent(@Param("positionNum") String positionNum) -->
	<select id="countEvent" resultType="int">
		SELECT 
			COUNT(1)
		FROM
			IOT_EQUIPMENT_BIGEVENT
		WHERE
			POSITIONNUM = #{positionNum}
	</select>
	
	
	<!-- ===========================2、新增===============================  -->
	<!-- 2.1、插入设备大事件数据	-->
	<!-- Integer addEvent(EquipmentBigEvent event) -->
	<insert id="addEvent" parameterType="cn.soa.entity.EquipmentBigEvent">
		<selectKey order="BEFORE" resultType="string" keyProperty="beid">
			select sys_guid() from dual 
		</selectKey>
		INSERT INTO
			IOT_EQUIPMENT_BIGEVENT
		VALUES
			(
				#{beid, jdbcType=VARCHAR}, 
				#{mrid, jdbcType=VARCHAR}, 
				#{positionNum, jdbcType=VARCHAR}, 
				#{event, jdbcType=VARCHAR}, 
				#{eventTime}, 
				#{remark1, jdbcType=VARCHAR}, 
				#{remark2, jdbcType=VARCHAR}
			)	
	</insert>
	
	<!-- ===========================3、修改===============================  -->

	
	<!-- ===========================4、删除===============================  -->
			
	
</mapper>
 

