<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="cn.soa.dao.lubrication.EquipmentLubricationMapper">

	
	<!-- 设备润滑油品 -->
	<sql id="lubEquimentLubricateSQL">
		ROWNUM rn,LID,LNAMEKEY,LNAME,LNUMBER,LSTATE,LTYPE,LPOSITION1,LPOSITION2,ISUSER,LREMARK1,LREMARK2
	</sql>
	
	<!-- 设备润滑油品记录 -->
	<sql id="lubEquimentLubricatePlaceSQL">
		PID,LID,PPLACE,PNOTE,PTYPE,REQUIREOIL1,REQUIREOIL2,PFREQUENCY,PUNIT,PLASTAMOUNT,PAMOUNT,NEXTCHANGETIME,LASTCHANGETIME,PREMARK1,PREMARK2
	</sql>
	
	<!-- 设备润滑油品记录 -->
	<sql id="lubEquimentLubricateRecordSQL">
		RID,LID,PID,OID,EXCUTOR,PTIME,OPERATESTATE,OPERATETYPE,RNOTE,RAMOUNT,RREMARK1,RREMARK2		
	</sql>
	
	<!-- ===================================查询=================================== -->
	
	<!-- 查询换油设备 -->
	<!-- List<LubricatelubEquiment> findLubEqui(LubricateEquipment lubricateEquipment); -->
	<select id="findLubEqui" resultType="cn.soa.entity.lubrication.LubricateEquipment">
		SELECT 
			<include refid="lubEquimentLubricateSQL"></include>
          FROM 
          	IOT_EQUIPMENT_LUBRICATE sub
          WHERE 1=1
          <if test="lid != null and lid != ''">
					AND lid = #{lid}
		  </if>
		  <if test="lnamekey != null and lnamekey != ''">
					AND lnamekey = #{lnamekey}
		  </if>
		  <if test="lname != null and lname != ''">
					AND lname = #{lname}
		  </if>
		  <if test="lnumber != null and lnumber != ''">
					AND lnumber = #{lnumber}
		  </if>
		  <if test="lstate != null and lstate != ''">
					AND lstate = #{lstate}
		  </if>
		  <if test="ltype != null and ltype != ''">
					AND ltype = #{ltype}
		  </if>
		  <if test="lposition1 != null and lposition1 != ''">
					AND lposition1 = #{lposition1}
		  </if>
		  <if test="lposition2 != null and lposition2 != ''">
					AND lposition2 = #{lposition2}
		  </if>
		  <if test="isuser != null and isuser != ''">
					AND isuser = #{isuser}
		  </if>
		  <if test="lremark1 != null and lremark1 != ''">
					AND lremark1 = #{lremark1}
		  </if>
		   <if test="lremark2 != null and lremark2 != ''">
					AND lremark2 = #{lremark2}
		  </if>
		  
	</select>
	
	<!-- 查询换油部位 -->
	<!-- List<LubricateEquipmentPlace> findLubPlace(LubricateEquipmentPlace lubricateEquipmentPlace); -->
	<select id="findLubPlace" resultType="cn.soa.entity.lubrication.LubricateEquipmentPlace">
		SELECT 
			ROWNUM rn,PID,LID,LNAMEKEY,LNAME,PPLACE,PFREQUENCY,PUNIT,REQUIREOIL1,PAMOUNT,NEXTCHANGETIME,LASTCHANGETIME
		FROM(
			SELECT 
				ROWNUM rn,PID,LID,LNAMEKEY,LNAME,PPLACE,PFREQUENCY,PUNIT,REQUIREOIL1,PAMOUNT,NEXTCHANGETIME,LASTCHANGETIME
	         FROM (
				SELECT 
					PID,place.LID,LNAMEKEY,LNAME,PPLACE,PFREQUENCY,PUNIT,REQUIREOIL1,PAMOUNT,to_char(NEXTCHANGETIME,'YYYY-MM-DD hh24:mi:ss') NEXTCHANGETIME,to_char(LASTCHANGETIME,'YYYY-MM-DD hh24:mi:ss') LASTCHANGETIME 
				FROM 	IOT_EQUIPMENT_LUBRICATE sub JOIN IOT_EQUIPMENT_LUBRICATE_PLACE place
					ON sub.lid = place.lid  ORDER BY NEXTCHANGETIME
				)
	         <where>
					<if test="page != null and page != '' and limit != null and limit != ''">
						AND ROWNUM &lt;= ${page * limit}
					</if>
			</where>
		)	
         <where>
				<if test="page != null and page != '' and limit != null and limit != ''">
					AND rn &gt; ${(page-1) * limit}
				</if>
		</where> 
	</select>
	
	<!-- 查询换油部位1 -->
	<!-- LubricateEquipmentPlace findLubPlaceByNamekey(String lnamekey, String pplace); -->
	<select id="findLubPlaceByNamekey" resultType="cn.soa.entity.lubrication.LubricateEquipmentPlace">
			SELECT 
				<include refid="lubEquimentLubricatePlaceSQL"></include>
	          FROM 
	          	IOT_EQUIPMENT_LUBRICATE_PLACE
	          WHERE LID IN (
				SELECT LID FROM IOT_EQUIPMENT_LUBRICATE WHERE LNAMEKEY = #{lnamekey})
			 AND PPLACE = #{pplace}
	</select>
	
	<!-- 查询换油部位 -->
	<!-- Integer findLubPlaceCount(); -->
	<select id="findLubPlaceCount" resultType="java.lang.Integer">
		
			SELECT 
				count(1)
	          FROM 
	          	IOT_EQUIPMENT_LUBRICATE sub JOIN IOT_EQUIPMENT_LUBRICATE_PLACE place
	          ON sub.lid = place.lid
	          
	</select>
	
	<!-- 按条件分页查询换油设备 -->
	<!-- List<LubricateEquipment> findEquipLubricationByPage(
			@Param("equip") LubricateEquipment equip,
			@Param("page") Integer page,
			@Param("limit") Integer limit) -->
	<select id="findEquipLubricationByPage" resultType="cn.soa.entity.lubrication.LubricateEquipment">
		SELECT
			equip_result.*
		FROM
			(
			SELECT 
				equip.*, ROWNUM rownum1
			FROM
				IOT_EQUIPMENT_LUBRICATE equip
			<where>
				<if test="equip != null">
					<if test="equip.lnamekey != null and equip.lnamekey != ''">
						LOWER(LNAMEKEY) LIKE LOWER('%${equip.lnamekey}%') 
					</if>
					<if test="equip.lname != null and equip.lname != ''">
						AND LOWER(equip.lname) LIKE LOWER('%${equip.lname}%')
					</if>
				</if>
				<if test="page != null and page != '' and limit != null and limit != ''">
					AND ROWNUM &lt;= ${page * limit}
				</if>
			</where>
			) equip_result
		WHERE
			<if test="page != null and page != '' and limit != null and limit != ''">
				 rownum1 &gt; ${(page-1) * limit}
			</if>
	</select>
	
	<!-- 统计按条件分页查询换油设备的总条数 -->
	<!-- Integer countEquipLubricationByPage(LubricateEquipment equip) -->
	<select id="countEquipLubricationByPage" resultType="int">
		SELECT 
			COUNT(1)
		FROM
			IOT_EQUIPMENT_LUBRICATE equip
		<where>
			<if test="lnamekey != null and lnamekey != ''">
				LOWER(LNAMEKEY) LIKE LOWER('%${lnamekey}%') 
			</if>
			<if test="lname != null and lname != ''">
				AND LOWER(LNAME) LIKE LOWER('%${lname}%')
			</if>
		</where>
	</select>
	
	
	<!-- 根据润滑设备lid查询设备换油记录 -->
	<!-- List<LubricateEquipment> findEquipLubricationRecordByLid(
			@Param("lid") String lid,
			@Param("page") Integer page,
			@Param("limit") Integer limit) -->
	<select id="findEquipLubricationRecordByLid" resultType="cn.soa.entity.lubrication.LubricateEquipmentRecord">
		SELECT
			equip_result.*
		FROM
			(
			SELECT 
				record.excutor, record.ptime, record.ramount, place.pplace, place.requireoil1 requireoil, ROWNUM rownum1
			FROM
				IOT_EQUIPMENT_LUBRICATE_RECORD record JOIN IOT_EQUIPMENT_LUBRICATE_PLACE place
				ON record.pid = place.pid and record.lid = place.lid
			<where>
				<if test="lid != null and lid != ''">
					record.lid = #{lid}
				</if>
				<if test="page != null and page != '' and limit != null and limit != ''">
					AND ROWNUM &lt;= ${page * limit}
				</if>
			</where>
			) equip_result
		WHERE
			<if test="page != null and page != '' and limit != null and limit != ''">
				 rownum1 &gt; ${(page-1) * limit}
			</if>
	</select>
	
	<!-- 根据润滑设备lid查询设备换油记录 -->
	<!-- Integer countEquipLubricationRecordByLid(String lid) -->
	<select id="countEquipLubricationRecordByLid" resultType="int">
		SELECT 
			COUNT(1)
		FROM
			IOT_EQUIPMENT_LUBRICATE_RECORD record JOIN IOT_EQUIPMENT_LUBRICATE_PLACE place
			ON record.pid = place.pid and record.lid = place.lid
		<where>
			<if test="lid != null and lid != ''">
				record.lid = #{lid}
			</if>
		</where>
	</select>
	
	<!-- 临时换油日期跟踪 -->
	<!-- List<LubricateEquipmentPlace> findEquipLubricationTrace(
			@Param("positionnum") String positionnum,
			@Param("tname") String tname,
			@Param("page") Integer page,
			@Param("limit") Integer limit) -->
	<select id="findEquipLubricationTrace" resultType="cn.soa.entity.lubrication.LubricateEquipmentPlace">
		SELECT
			*
		FROM
			(
				SELECT
					ROWNUM rownum1, equip_result.*
				FROM
				(
					SELECT 
						place.*, lubri.lnamekey positionnum, lubri.lname tname
					FROM
						IOT_EQUIPMENT_LUBRICATE lubri JOIN IOT_EQUIPMENT_LUBRICATE_PLACE place
						ON lubri.lid = place.lid
					<where>
						<if test="positionnum != null and positionnum != ''">
							LOWER(lubri.lnamekey) LIKE LOWER('%${positionnum}%')
						</if>
						<if test="tname != null and tname != ''">
							AND LOWER(lubri.lname) LIKE LOWER('%${tname}%')
						</if>
					</where>
					ORDER BY NEXTCHANGETIME ASC
				) equip_result	
				<where>
					<if test="page != null and page != '' and limit != null and limit != ''">
					  ROWNUM &lt;= ${page * limit}
					</if>
				</where>
			)
		WHERE
			<if test="page != null and page != '' and limit != null and limit != ''">
				 rownum1 &gt; ${(page-1) * limit}
			</if>
	</select>
	
	<!-- Integer countEquipLubricationTrace(
			@Param("positionnum") String positionnum,
			@Param("tname") String tname)-->
	<select id="countEquipLubricationTrace" resultType="int">
		SELECT 
			COUNT(1)
		FROM
			IOT_EQUIPMENT_LUBRICATE lubri JOIN IOT_EQUIPMENT_LUBRICATE_PLACE place
			ON lubri.lid = place.lid
		<where>
			<if test="positionnum != null and positionnum != ''">
				LOWER(lubri.lnamekey) LIKE LOWER('%${positionnum}%')
			</if>
			<if test="tname != null and tname != ''">
				AND LOWER(lubri.lname) LIKE LOWER('%${tname}%')
			</if>
		</where>			
	</select>
	
	<!-- 根据润滑部位条件查询数据
	LubricateEquipmentPlace findLuEqPlByAll(LubricateEquipmentPlace lubricateEquipmentPlace); -->
	<select id="findLuEqPlByAll" resultType="cn.soa.entity.lubrication.LubricateEquipmentPlace">
		SELECT 
			<include refid="lubEquimentLubricatePlaceSQL"></include>
		FROM
			IOT_EQUIPMENT_LUBRICATE_PLACE
		<where>
			<trim prefix="(" suffix=")" suffixOverrides=",">
				1=1
				<if test="pid != null and pid != ''">
					AND PID = #{pid}
				</if>
				<if test="lid != null and lid != ''">
					AND LID = #{lid}
				</if>
				<if test="pplace != null and pplace != ''">
					AND PPLACE = #{pplace}
				</if>
				<if test="pnote != null and pnote != ''">
					AND PNOTE = #{pnote}
				</if>
				<if test="ptype != null and ptype != ''">
					AND PTYPE = #{ptype}
				</if>
				<if test="requireoil1 != null and requireoil1 != ''">
					AND REQUIREOIL1 = #{requireoil1}
				</if>
				<if test="requireoil2 != null and requireoil2 != ''">
					AND REQUIREOIL2 = #{requireoil2}
				</if>
				<if test="pfrequency != null and pfrequency != ''">
					AND PFREQUENCY = #{pfrequency}
				</if>
				<if test="punit != null and punit != ''">
					AND PUNIT = #{punit}
				</if>
				<if test="plastamount != null and plastamount != ''">
					AND PLASTAMOUNT = #{plastamount}
				</if>
				<if test="pamount != null and pamount != ''">
					AND PAMOUNT = #{pamount}
				</if>
				<if test="nextchangetime != null">
					AND NEXTCHANGETIME = #{nextchangetime}
				</if>
				<if test="lastchangetime != null">
					AND LASTCHANGETIME = #{lastchangetime}
				</if>
				<if test="premark1 != null and premark1 != ''">
					AND PREMARK1 = #{premark1}
				</if>
				<if test="premark2 != null and premark2 != ''">
					AND PREMARK2 = #{premark2}
				</if>
			</trim>		
		</where>
	</select>
	
	<!-- ===========================2、新增===============================  -->
	<!-- 新增润滑换油设备 -->
	<!-- Integer insertLubEqui(LubricateEquipment lubricateEquipment); -->
	<insert id="insertLubEqui"	parameterType="cn.soa.entity.lubrication.LubricateEquipment">
		<selectKey order="BEFORE" resultType="string" keyProperty="lubequi.lid">
			select sys_guid() from dual 
		</selectKey>
	
		INSERT INTO
			IOT_EQUIPMENT_LUBRICATE
			<trim prefix="(" suffix=")" suffixOverrides=",">
				<if test="lubequi.lid != null and lubequi.lid != ''">
					LID,
				</if>
				<if test="lubequi.lnamekey != null and lubequi.lnamekey != ''">
					LNAMEKEY,
				</if>
				<if test="lubequi.lname != null and lubequi.lname != ''">
					LNAME,
				</if>
				<if test="lubequi.lnumber != null and lubequi.lnumber != ''">
					LNUMBER,
				</if>
				<if test="lubequi.lstate != null and lubequi.lstate != ''">
					LSTATE,
				</if>
				<if test="lubequi.ltype != null and lubequi.ltype != ''">
					LTYPE,
				</if>
				<if test="lubequi.lposition1 != null and lubequi.lposition1 != ''">
					LPOSITION1,
				</if>
				<if test="lubequi.lposition2 != null and lubequi.lposition2 != ''">
					LPOSITION2,
				</if>
				<if test="lubequi.isuser != null and lubequi.isuser != ''">
					ISUSER,
				</if>
				<if test="lubequi.lremark1 != null and lubequi.lremark1!= ''">
					LREMARK1,
				</if>
				<if test="lubequi.lremark2 != null and lubequi.lremark2!= ''">
					LREMARK2,
				</if>
			</trim>
		VALUES
		<trim prefix="(" suffix=")" suffixOverrides=",">
				<if test="lubequi.lid != null and lubequi.lid != ''">
					#{lubequi.lid},
				</if>
				<if test="lubequi.lnamekey != null and lubequi.lnamekey != ''">
					#{lubequi.lnamekey},
				</if>
				<if test="lubequi.lname != null and lubequi.lname != ''">
					#{lubequi.lname},
				</if>
				<if test="lubequi.lnumber != null and lubequi.lnumber != ''">
					#{lubequi.lnumber},
				</if>
				<if test="lubequi.lstate != null and lubequi.lstate != ''">
					#{lubequi.lstate},
				</if>
				<if test="lubequi.ltype != null and lubequi.ltype != ''">
					#{lubequi.ltype},
				</if>
				<if test="lubequi.lposition1 != null and lubequi.lposition1 != ''">
					#{lubequi.lposition1},
				</if>
				<if test="lubequi.lposition2 != null and lubequi.lposition2 != ''">
					#{lubequi.lposition2},
				</if>
				<if test="lubequi.isuser != null and lubequi.isuser != ''">
					#{lubequi.isuser},
				</if>
				<if test="lubequi.lremark1 != null and lubequi.lremark1!= ''">
					#{lubequi.lremark1},
				</if>
				<if test="lubequi.lremark2 != null and lubequi.lremark2!= ''">
					#{lubequi.lremark2},
				</if>
			</trim>	
	</insert>
	
	
	<!-- 新增换油部位 -->
	<!-- Integer insertLubPlace(@Param("lubequipl")LubricateEquipmentPlace lubricateEquipmentPlace); -->
	<insert id="insertLubPlace"	parameterType="cn.soa.entity.lubrication.LubricateEquipmentPlace">
		<selectKey order="BEFORE" resultType="string" keyProperty="lubequipl.pid">
			select sys_guid() from dual 
		</selectKey>
	
		INSERT INTO
			IOT_EQUIPMENT_LUBRICATE_PLACE
			<trim prefix="(" suffix=")" suffixOverrides=",">
				<if test="lubequipl.pid != null and lubequipl.pid != ''">
					PID,
				</if>
				<if test="lubequipl.lid != null and lubequipl.lid != ''">
					LID,
				</if>
				<if test="lubequipl.pplace != null and lubequipl.pplace != ''">
					PPLACE,
				</if>
				<if test="lubequipl.pnote != null and lubequipl.pnote != ''">
					PNOTE,
				</if>
				<if test="lubequipl.ptype != null and lubequipl.ptype != ''">
					PTYPE,
				</if>
				<if test="lubequipl.requireoil1 != null and lubequipl.requireoil1 != ''">
					REQUIREOIL1,
				</if>
				<if test="lubequipl.requireoil2 != null and lubequipl.requireoil2 != ''">
					REQUIREOIL2,
				</if>
				<if test="lubequipl.pfrequency != null and lubequipl.pfrequency != ''">
					PFREQUENCY,
				</if>
				<if test="lubequipl.punit != null and lubequipl.punit != ''">
					PUNIT,
				</if>
				<if test="lubequipl.plastamount != null and lubequipl.plastamount != ''">
					PLASTAMOUNT,
				</if>
				<if test="lubequipl.pamount != null and lubequipl.pamount != ''">
					PAMOUNT,
				</if>
				<if test="lubequipl.nextchangetime != null">
					NEXTCHANGETIME,
				</if>
				<if test="lubequipl.lastchangetime != null">
					LASTCHANGETIME,
				</if>
				<if test="lubequipl.premark1 != null and lubequipl.premark1 != ''">
					PREMARK1,
				</if>
				<if test="lubequipl.premark2 != null and lubequipl.premark2 != ''">
					PREMARK2,
				</if>
			</trim>
		VALUES
			<trim prefix="(" suffix=")" suffixOverrides=",">
				<if test="lubequipl.pid != null and lubequipl.pid != ''">
					#{lubequipl.pid},
				</if>
				<if test="lubequipl.lid != null and lubequipl.lid != ''">
					#{lubequipl.lid},
				</if>
				<if test="lubequipl.pplace != null and lubequipl.pplace != ''">
					#{lubequipl.pplace},
				</if>
				<if test="lubequipl.pnote != null and lubequipl.pnote != ''">
					#{lubequipl.pnote},
				</if>
				<if test="lubequipl.ptype != null and lubequipl.ptype != ''">
					#{lubequipl.ptype},
				</if>
				<if test="lubequipl.requireoil1 != null and lubequipl.requireoil1 != ''">
					#{lubequipl.requireoil1},
				</if>
				<if test="lubequipl.requireoil2 != null and lubequipl.requireoil2 != ''">
					#{lubequipl.requireoil2},
				</if>
				<if test="lubequipl.pfrequency != null and lubequipl.pfrequency != ''">
					#{lubequipl.pfrequency},
				</if>
				<if test="lubequipl.punit != null and lubequipl.punit != ''">
					#{lubequipl.punit},
				</if>
				<if test="lubequipl.plastamount != null and lubequipl.plastamount != ''">
					#{lubequipl.plastamount},
				</if>
				<if test="lubequipl.pamount != null and lubequipl.pamount != ''">
					#{lubequipl.pamount},
				</if>
				<if test="lubequipl.nextchangetime != null">
					#{lubequipl.nextchangetime},
				</if>
				<if test="lubequipl.lastchangetime != null">
					#{lubequipl.lastchangetime},
				</if>
				<if test="lubequipl.premark1 != null and lubequipl.premark1 != ''">
					#{lubequipl.premark1},
				</if>
				<if test="lubequipl.premark2 != null and lubequipl.premark2 != ''">
					#{lubequipl.premark2},
				</if>
			</trim>
	</insert>
	
	 <!-- 新增换油记录 -->
	<!-- Integer insertLubRecord(LubricateEquipmentRecord lubricateEquipmentRecord); -->
	<insert id="insertLubRecord"	parameterType="cn.soa.entity.lubrication.LubricateEquipmentRecord">
		<selectKey order="BEFORE" resultType="string" keyProperty="lubequire.rid">
			select sys_guid() from dual 
		</selectKey>
	
		INSERT INTO
			IOT_EQUIPMENT_LUBRICATE_RECORD
			<trim prefix="(" suffix=")" suffixOverrides=",">
				<if test="lubequire.rid != null and lubequire.rid != ''">
					RID,
				</if>
				<if test="lubequire.lid != null and lubequire.lid != ''">
					LID,
				</if>
				<if test="lubequire.pid != null and lubequire.pid != ''">
					PID,		
				</if>
				<if test="lubequire.oid != null and lubequire.oid != ''">
					OID,
				</if>
				<if test="lubequire.excutor != null and lubequire.excutor != ''">
					EXCUTOR,
				</if>
				<if test="lubequire.ptime != null">
					PTIME,
				</if>
				<if test="lubequire.operatestate != null and lubequire.operatestate != ''">
					OPERATESTATE,
				</if>
				<if test="lubequire.operatetype != null and lubequire.operatetype != ''">
					OPERATETYPE,
				</if>
				<if test="lubequire.rnote != null and lubequire.rnote != ''">
					RNOTE,
				</if>
				<if test="lubequire.ramount != null and lubequire.ramount != ''">
					RAMOUNT,
				</if>
				<if test="lubequire.rremark1 != null and lubequire.rremark1 != ''">
					RREMARK1,
				</if>
				<if test="lubequire.rremark2!= null and lubequire.rremark2 != ''">
					RREMARK2,
				</if>
			</trim>
		VALUES
		<trim prefix="(" suffix=")" suffixOverrides=",">
				<if test="lubequire.rid != null and lubequire.rid != ''">
					#{lubequire.rid},
				</if>
				<if test="lubequire.lid != null and lubequire.lid != ''">
					#{lubequire.lid},
				</if>
				<if test="lubequire.pid != null and lubequire.pid != ''">
					#{lubequire.pid},		
				</if>
				<if test="lubequire.oid != null and lubequire.oid != ''">
					#{lubequire.oid},
				</if>
				<if test="lubequire.excutor != null and lubequire.excutor != ''">
					#{lubequire.excutor},
				</if>
				<if test="lubequire.ptime != null">
					#{lubequire.ptime},
				</if>
				<if test="lubequire.operatestate != null and lubequire.operatestate != ''">
					#{lubequire.operatestate},
				</if>
				<if test="lubequire.operatetype != null and lubequire.operatetype != ''">
					#{lubequire.operatetype},
				</if>
				<if test="lubequire.rnote != null and lubequire.rnote != ''">
					#{lubequire.rnote},
				</if>
				<if test="lubequire.ramount != null and lubequire.ramount != ''">
					#{lubequire.ramount},
				</if>
				<if test="lubequire.rremark1 != null and lubequire.rremark1 != ''">
					#{lubequire.rremark1},
				</if>
				<if test="lubequire.rremark2 != null and lubequire.rremark2 != ''">
					#{lubequire.rremark2},
				</if>
			</trim>	
	</insert>
	
	<!-- ===========================3、修改===============================  -->

	<!--更新润滑部位最后一次时间和下一次换油时间
	Integer updateLuEqPlByPid(LubricateEquipmentPlace lubricateEquipmentPlace); -->
	
	<update id="updateLuEqPlByPid" parameterType="cn.soa.entity.lubrication.LubricateEquipmentPlace">
		UPDATE IOT_EQUIPMENT_LUBRICATE_PLACE 

				<set>
				   <if test="nextchangetime != null">
						NEXTCHANGETIME = #{nextchangetime},
					</if>
					<if test="lastchangetime != null">
						LASTCHANGETIME = #{lastchangetime},
					</if>
				</set>
				<where>
					PID =#{pid}
				</where>
	</update>
	
	<!-- ===========================4、删除===============================  -->
			
	
</mapper>
 

