<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.soa.dao.EquipmentCommonInfoMapper">
	<resultMap id="BaseResultMap"
		type="cn.soa.entity.EquipmentCommonInfo">
		<id column="EQU_ID" jdbcType="VARCHAR" property="equId" />
		<result column="EQU_NAME" jdbcType="VARCHAR" property="equName" />
		<result column="EQU_STATUS" jdbcType="VARCHAR"
			property="equStatus" />
		<result column="EQU_POSITION_NUM" jdbcType="VARCHAR"
			property="equPositionNum" />
		<result column="PROCESS_UNITS" jdbcType="VARCHAR"
			property="processUnits" />
		<result column="EQU_MODEL" jdbcType="VARCHAR"
			property="equModel" />
		<result column="EQU_TYPE" jdbcType="VARCHAR" property="equType" />
		<result column="EQU_TYPE_ID" jdbcType="VARCHAR"
			property="equTypeId" />
		<result column="ASSET_VALUE" jdbcType="VARCHAR"
			property="assetValue" />
		<result column="EQU_MANUFACTURER" jdbcType="VARCHAR"
			property="equManufacturer" />
		<result column="EQU_PRODUC_DATE" jdbcType="TIMESTAMP"
			property="equProducDate" />
		<result column="EQU_COMMISSION_DATE" jdbcType="TIMESTAMP"
			property="equCommissionDate" />
		<result column="EQU_INSTALL_POSITION" jdbcType="VARCHAR"
			property="equInstallPosition" />
		<result column="STANDBY1" jdbcType="VARCHAR"
			property="standby1" />
		<result column="STANDBY2" jdbcType="VARCHAR"
			property="standby2" />
		<result column="STANDBY3" jdbcType="VARCHAR"
			property="standby3" />
	</resultMap>



	<resultMap id="ResultMapWithProperties"
		type="cn.soa.entity.EquipmentCommonInfo">
		<id column="EQU_ID" jdbcType="VARCHAR" property="equId" />
		<result column="EQU_NAME" jdbcType="VARCHAR" property="equName" />
		<result column="EQU_STATUS" jdbcType="VARCHAR"
			property="equStatus" />
		<result column="EQU_POSITION_NUM" jdbcType="VARCHAR"
			property="equPositionNum" />
		<result column="PROCESS_UNITS" jdbcType="VARCHAR"
			property="processUnits" />
		<result column="EQU_MODEL" jdbcType="VARCHAR"
			property="equModel" />
		<result column="EQU_TYPE" jdbcType="VARCHAR" property="equType" />
		<result column="EQU_TYPE_ID" jdbcType="VARCHAR"
			property="equTypeId" />
		<result column="ASSET_VALUE" jdbcType="VARCHAR"
			property="assetValue" />
		<result column="EQU_MANUFACTURER" jdbcType="VARCHAR"
			property="equManufacturer" />
		<result column="EQU_PRODUC_DATE" jdbcType="TIMESTAMP"
			property="equProducDate" />
		<result column="EQU_COMMISSION_DATE" jdbcType="TIMESTAMP"
			property="equCommissionDate" />
		<result column="EQU_INSTALL_POSITION" jdbcType="VARCHAR"
			property="equInstallPosition" />
		<result column="STANDBY1" jdbcType="VARCHAR"
			property="standby1" />
		<result column="STANDBY2" jdbcType="VARCHAR"
			property="standby2" />
		<result column="STANDBY3" jdbcType="VARCHAR"
			property="standby3" />
		<collection property="equipmentProperties"
			select="getProperties" column="EQU_ID">
		</collection>
	</resultMap>

	<resultMap id="PropertiesResultMap"
		type="cn.soa.entity.EquipmentProperties">
		<id column="ID" jdbcType="VARCHAR" property="id" />
		<result column="EQU_ID" jdbcType="VARCHAR" property="equId" />
		<result column="PRO_NAME_CN" jdbcType="VARCHAR"
			property="proNameCn" />
		<result column="PRO_NAME_EN" jdbcType="VARCHAR"
			property="proNameEn" />
		<result column="PRO_VALUE" jdbcType="VARCHAR"
			property="proValue" />
		<result column="STANDBY1" jdbcType="VARCHAR"
			property="standby1" />
		<result column="STANDBY2" jdbcType="VARCHAR"
			property="standby2" />
		<result column="STANDBY3" jdbcType="VARCHAR"
			property="standby3" />
	</resultMap>

	<sql id="Base_Column_List">
		EQU_ID, EQU_NAME,
		case EQU_STATUS
		when '1' then '在用'
		when '2'
		then '备用'
		when '3' then '停用'
		when '4' then '闲置'
		when '5' then '报废'
		else ''
		end
		as EQU_STATUS
		, EQU_POSITION_NUM,
		PROCESS_UNITS, EQU_MODEL,
		EQU_TYPE,
		EQU_TYPE_ID, ASSET_VALUE,
		EQU_MANUFACTURER,to_char(EQU_PRODUC_DATE,'YYYY-MM-DD') AS
		EQU_PRODUC_DATE,
		to_char(EQU_COMMISSION_DATE,'YYYY-MM-DD') AS
		EQU_COMMISSION_DATE,
		EQU_INSTALL_POSITION, STANDBY1, STANDBY2, STANDBY3
	</sql>
	<select id="selectByCondition"
		parameterType="cn.soa.entity.QueryCondition"
		resultMap="ResultMapWithProperties">
		select
		<include refid="Base_Column_List" />
		from IOT_EQUIPMENT_COMMON_INFO t1
		<where>
			<if
				test="condition.equTypeId != null and condition.equTypeId != ''">
				and EXISTS
				(select EQU_ID from IOT_EQUIPMENT_TYPE_R t2 where
				EQU_TYPE_ID =
				#{condition.equTypeId,jdbcType=VARCHAR} and t1.EQU_ID =
				t2.EQU_ID)
			</if>
			<if test="condition.equipmentCommonInfo != null">
				<if
					test="condition.equipmentCommonInfo.equipmentProperties !=null">
					and exists (
					select EQU_ID from
					<foreach
						collection="condition.equipmentCommonInfo.equipmentProperties"
						open="(" separator=" intersect " close=")" index="index"
						item="item">
						<if test="item.proValue !=null and item.proValue != ''">
							select EQU_ID from IOT_EQUIPMENT_PROPERTIES where
							PRO_NAME_EN ||
							PRO_VALUE like #{item.proNameEn} ||
							'%'||
							#{item.proValue} || '%'
						</if>
					</foreach>
					t3 where t1.EQU_ID = t3.EQU_ID
					)
				</if>
			</if>
			<if test="condition.equId !=null and condition.equId != ''">
				and EQU_ID = #{condition.equId,jdbcType=VARCHAR}
			</if>
			<!-- 所有字段模糊匹配 -->
			<if test="condition.keyWord != null and condition.keyWord != ''">
				and (EQU_NAME like '%' ||
				#{condition.keyWord,jdbcType=VARCHAR} ||
				'%' or
				decode(EQU_STATUS,'1','在用','2','备用','3','停用','4','闲置','5','报废') like
				'%' || #{condition.keyWord,jdbcType=VARCHAR} || '%' or
				EQU_POSITION_NUM like
				'%' || #{condition.keyWord,jdbcType=VARCHAR} ||
				'%' or
				PROCESS_UNITS like '%'
				|| #{condition.keyWord,jdbcType=VARCHAR}
				|| '%' or
				EQU_MODEL like '%' ||
				#{condition.keyWord,jdbcType=VARCHAR}
				|| '%' or
				EQU_TYPE like '%' ||
				#{condition.keyWord,jdbcType=VARCHAR}
				|| '%' or
				ASSET_VALUE like '%' ||
				#{condition.keyWord,jdbcType=VARCHAR} || '%' or
				EQU_MANUFACTURER like
				'%' ||
				#{condition.keyWord,jdbcType=VARCHAR} || '%' or
				to_char(EQU_PRODUC_DATE,'YYYY-MM-DD') like '%' ||
				#{condition.keyWord,jdbcType=VARCHAR} || '%' or
				to_char(EQU_COMMISSION_DATE,'YYYY-MM-DD') like '%' ||
				#{condition.keyWord,jdbcType=VARCHAR} || '%' or
				EQU_INSTALL_POSITION
				like '%'
				|| #{condition.keyWord,jdbcType=VARCHAR} || '%'

				or exists (
				select EQU_ID from
				IOT_EQUIPMENT_PROPERTIES
				t4
				where PRO_VALUE
				like '%'|| #{condition.keyWord}
				|| '%'
				and t1.EQU_ID
				= t4.EQU_ID
				)
				)
			</if>
			<!-- 所有字段模糊匹配 -->
			<if test="condition.equipmentCommonInfo != null">
				<if
					test="condition.equipmentCommonInfo.equName != null and condition.equipmentCommonInfo.equName != ''">
					and EQU_NAME like '%' ||
					#{condition.equipmentCommonInfo.equName,jdbcType=VARCHAR} || '%'
				</if>
				<if
					test="condition.equipmentCommonInfo.equStatus != null and condition.equipmentCommonInfo.equStatus != ''">
					and EQU_STATUS like '%' ||
					#{condition.equipmentCommonInfo.equStatus,jdbcType=VARCHAR} || '%'
				</if>
				<if
					test="condition.equipmentCommonInfo.equPositionNum != null and condition.equipmentCommonInfo.equPositionNum !=''">
					and EQU_POSITION_NUM like '%' ||
					#{condition.equipmentCommonInfo.equPositionNum,jdbcType=VARCHAR} ||
					'%'
				</if>
				<if
					test="condition.equipmentCommonInfo.processUnits != null and condition.equipmentCommonInfo.processUnits != ''">
					and PROCESS_UNITS like '%' ||
					#{condition.equipmentCommonInfo.processUnits,jdbcType=VARCHAR} ||
					'%'
				</if>
				<if
					test="condition.equipmentCommonInfo.equModel != null and condition.equipmentCommonInfo.equModel != ''">
					and EQU_MODEL like '%' ||
					#{condition.equipmentCommonInfo.equModel,jdbcType=VARCHAR} || '%'
				</if>
				<if
					test="condition.equipmentCommonInfo.equType != null and condition.equipmentCommonInfo.equType != ''">
					and EQU_TYPE like '%' ||
					#{condition.equipmentCommonInfo.equType,jdbcType=VARCHAR} || '%'
				</if>
				<if
					test="condition.equipmentCommonInfo.equTypeId != null and condition.equipmentCommonInfo.equTypeId != ''">
					and EQU_TYPE_ID like '%' ||
					#{condition.equipmentCommonInfo.equTypeId,jdbcType=VARCHAR} || '%'
				</if>
				<if
					test="condition.equipmentCommonInfo.assetValue != null and condition.equipmentCommonInfo.assetValue != ''">
					and ASSET_VALUE like '%' ||
					#{condition.equipmentCommonInfo.assetValue,jdbcType=VARCHAR} || '%'
				</if>
				<if
					test="condition.equipmentCommonInfo.equManufacturer != null and condition.equipmentCommonInfo.equManufacturer != ''">
					and EQU_MANUFACTURER like '%' ||
					#{condition.equipmentCommonInfo.equManufacturer,jdbcType=VARCHAR}
					|| '%'
				</if>
				<if
					test="condition.equipmentCommonInfo.equProducDate != null and condition.equipmentCommonInfo.equProducDate != ''">
					and to_char(EQU_PRODUC_DATE,'YYYY-MM-DD') like '%' ||
					#{condition.equipmentCommonInfo.equProducDate,jdbcType=TIMESTAMP}
					|| '%'
				</if>
				<if
					test="condition.equipmentCommonInfo.equCommissionDate != null and condition.equipmentCommonInfo.equCommissionDate != ''">
					and to_char(EQU_COMMISSION_DATE,'YYYY-MM-DD') like '%' ||
					#{condition.equipmentCommonInfo.equCommissionDate,jdbcType=TIMESTAMP}
					|| '%'
				</if>
				<if
					test="condition.equipmentCommonInfo.equInstallPosition != null and condition.equipmentCommonInfo.equInstallPosition != ''">
					and EQU_INSTALL_POSITION like '%' ||
					#{condition.equipmentCommonInfo.equInstallPosition,jdbcType=VARCHAR}
					|| '%'
				</if>
				<if
					test="condition.equipmentCommonInfo.standby1 != null and condition.equipmentCommonInfo.standby1 != ''">
					and STANDBY1 like '%' ||
					#{condition.equipmentCommonInfo.standby1,jdbcType=VARCHAR} || '%'
				</if>
				<if
					test="condition.equipmentCommonInfo.standby2 != null and condition.equipmentCommonInfo.standby2 != ''">
					and STANDBY2 like '%' ||
					#{condition.equipmentCommonInfo.standby2,jdbcType=VARCHAR} || '%'
				</if>
				<if
					test="condition.equipmentCommonInfo.standby3 != null and condition.equipmentCommonInfo.standby3 != ''">
					and STANDBY3 like '%' ||
					#{condition.equipmentCommonInfo.standby3,jdbcType=VARCHAR} || '%'
				</if>
			</if>
		</where>
	</select>

	<select id="getProperties" resultMap="PropertiesResultMap">
		select ID, EQU_ID,
		PRO_NAME_CN, PRO_NAME_EN, PRO_VALUE,
		STANDBY1,
		STANDBY2, STANDBY3
		from
		IOT_EQUIPMENT_PROPERTIES
		where
		EQU_ID =
		#{EQU_ID,jdbcType=VARCHAR}
	</select>



	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from IOT_EQUIPMENT_COMMON_INFO
		where EQU_ID = #{equId,jdbcType=VARCHAR}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from
		IOT_EQUIPMENT_COMMON_INFO
		where EQU_ID = #{equId,jdbcType=VARCHAR}
	</delete>
	<insert id="insert"
		parameterType="cn.soa.entity.EquipmentCommonInfo">
		insert into IOT_EQUIPMENT_COMMON_INFO (EQU_ID, EQU_NAME,
		EQU_STATUS,
		EQU_POSITION_NUM, PROCESS_UNITS, EQU_MODEL,
		EQU_TYPE,
		EQU_TYPE_ID, ASSET_VALUE,
		EQU_MANUFACTURER, EQU_PRODUC_DATE,
		EQU_COMMISSION_DATE,
		EQU_INSTALL_POSITION, STANDBY1, STANDBY2,
		STANDBY3)
		values (#{equId,jdbcType=VARCHAR},
		#{equName,jdbcType=VARCHAR},
		#{equStatus,jdbcType=VARCHAR},
		#{equPositionNum,jdbcType=VARCHAR}, #{processUnits,jdbcType=VARCHAR},
		#{equModel,jdbcType=VARCHAR},
		#{equType,jdbcType=VARCHAR},
		#{equTypeId,jdbcType=VARCHAR},
		#{assetValue,jdbcType=VARCHAR},
		#{equManufacturer,jdbcType=VARCHAR},
		to_date(#{equProducDate,jdbcType=TIMESTAMP},'YYYY-MM-DD'),
		to_date(#{equCommissionDate,jdbcType=TIMESTAMP},'YYYY-MM-DD'),
		#{equInstallPosition,jdbcType=VARCHAR}, #{standby1,jdbcType=VARCHAR},
		#{standby2,jdbcType=VARCHAR},
		#{standby3,jdbcType=VARCHAR})
	</insert>

	<!-- 插入数据到设备-设备类型关系表 -->
	<insert id="insertEquTypeR"
		parameterType="cn.soa.entity.EquipmentCommonInfo">

	</insert>

	<insert id="insertSelective"
		parameterType="cn.soa.entity.EquipmentCommonInfo">
		insert into IOT_EQUIPMENT_COMMON_INFO
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="equId != null">
				EQU_ID,
			</if>
			<if test="equName != null">
				EQU_NAME,
			</if>
			<if test="equStatus != null">
				EQU_STATUS,
			</if>
			<if test="equPositionNum != null">
				EQU_POSITION_NUM,
			</if>
			<if test="processUnits != null">
				PROCESS_UNITS,
			</if>
			<if test="equModel != null">
				EQU_MODEL,
			</if>
			<if test="equType != null">
				EQU_TYPE,
			</if>
			<if test="equTypeId != null">
				EQU_TYPE_ID,
			</if>
			<if test="assetValue != null">
				ASSET_VALUE,
			</if>
			<if test="equManufacturer != null">
				EQU_MANUFACTURER,
			</if>
			<if test="equProducDate != null">
				EQU_PRODUC_DATE,
			</if>
			<if test="equCommissionDate != null">
				EQU_COMMISSION_DATE,
			</if>
			<if test="equInstallPosition != null">
				EQU_INSTALL_POSITION,
			</if>
			<if test="standby1 != null">
				STANDBY1,
			</if>
			<if test="standby2 != null">
				STANDBY2,
			</if>
			<if test="standby3 != null">
				STANDBY3,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="equId != null">
				#{equId,jdbcType=VARCHAR},
			</if>
			<if test="equName != null">
				#{equName,jdbcType=VARCHAR},
			</if>
			<if test="equStatus != null">
				#{equStatus,jdbcType=VARCHAR},
			</if>
			<if test="equPositionNum != null">
				#{equPositionNum,jdbcType=VARCHAR},
			</if>
			<if test="processUnits != null">
				#{processUnits,jdbcType=VARCHAR},
			</if>
			<if test="equModel != null">
				#{equModel,jdbcType=VARCHAR},
			</if>
			<if test="equType != null">
				#{equType,jdbcType=VARCHAR},
			</if>
			<if test="equTypeId != null">
				#{equTypeId,jdbcType=VARCHAR},
			</if>
			<if test="assetValue != null">
				#{assetValue,jdbcType=VARCHAR},
			</if>
			<if test="equManufacturer != null">
				#{equManufacturer,jdbcType=VARCHAR},
			</if>
			<if test="equProducDate != null">
				to_date(#{equProducDate,jdbcType=TIMESTAMP},'YYYY-MM-DD'),
			</if>
			<if test="equCommissionDate != null">
				to_date(#{equCommissionDate,jdbcType=TIMESTAMP},'YYYY-MM-DD'),
			</if>
			<if test="equInstallPosition != null">
				#{equInstallPosition,jdbcType=VARCHAR},
			</if>
			<if test="standby1 != null">
				#{standby1,jdbcType=VARCHAR},
			</if>
			<if test="standby2 != null">
				#{standby2,jdbcType=VARCHAR},
			</if>
			<if test="standby3 != null">
				#{standby3,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="cn.soa.entity.EquipmentCommonInfo">
		update IOT_EQUIPMENT_COMMON_INFO
		<set>
			<if test="equName != null">
				EQU_NAME = #{equName,jdbcType=VARCHAR},
			</if>
			<if test="equStatus != null">
				EQU_STATUS = #{equStatus,jdbcType=VARCHAR},
			</if>
			<if test="equPositionNum != null">
				EQU_POSITION_NUM = #{equPositionNum,jdbcType=VARCHAR},
			</if>
			<if test="processUnits != null">
				PROCESS_UNITS = #{processUnits,jdbcType=VARCHAR},
			</if>
			<if test="equModel != null">
				EQU_MODEL = #{equModel,jdbcType=VARCHAR},
			</if>
			<if test="equType != null">
				EQU_TYPE = #{equType,jdbcType=VARCHAR},
			</if>
			<if test="equTypeId != null">
				EQU_TYPE_ID = #{equTypeId,jdbcType=VARCHAR},
			</if>
			<if test="assetValue != null">
				ASSET_VALUE = #{assetValue,jdbcType=VARCHAR},
			</if>
			<if test="equManufacturer != null">
				EQU_MANUFACTURER = #{equManufacturer,jdbcType=VARCHAR},
			</if>
			<if test="equProducDate != null">
				EQU_PRODUC_DATE =
				to_date(#{equProducDate,jdbcType=TIMESTAMP},'YYYY-MM-DD'),
			</if>
			<if test="equCommissionDate != null">
				EQU_COMMISSION_DATE =
				to_date(#{equCommissionDate,jdbcType=TIMESTAMP},'YYYY-MM-DD'),
			</if>
			<if test="equInstallPosition != null">
				EQU_INSTALL_POSITION =
				#{equInstallPosition,jdbcType=VARCHAR},
			</if>
			<if test="standby1 != null">
				STANDBY1 = #{standby1,jdbcType=VARCHAR},
			</if>
			<if test="standby2 != null">
				STANDBY2 = #{standby2,jdbcType=VARCHAR},
			</if>
			<if test="standby3 != null">
				STANDBY3 = #{standby3,jdbcType=VARCHAR},
			</if>
		</set>
		where EQU_ID = #{equId,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="cn.soa.entity.EquipmentCommonInfo">
		update IOT_EQUIPMENT_COMMON_INFO
		set EQU_NAME =
		#{equName,jdbcType=VARCHAR},
		EQU_STATUS =
		#{equStatus,jdbcType=VARCHAR},
		EQU_POSITION_NUM =
		#{equPositionNum,jdbcType=VARCHAR},
		PROCESS_UNITS =
		#{processUnits,jdbcType=VARCHAR},
		EQU_MODEL =
		#{equModel,jdbcType=VARCHAR},
		EQU_TYPE = #{equType,jdbcType=VARCHAR},
		EQU_TYPE_ID = #{equTypeId,jdbcType=VARCHAR},
		ASSET_VALUE =
		#{assetValue,jdbcType=VARCHAR},
		EQU_MANUFACTURER =
		#{equManufacturer,jdbcType=VARCHAR},
		EQU_PRODUC_DATE =
		#{equProducDate,jdbcType=TIMESTAMP},
		EQU_COMMISSION_DATE =
		#{equCommissionDate,jdbcType=TIMESTAMP},
		EQU_INSTALL_POSITION =
		#{equInstallPosition,jdbcType=VARCHAR},
		STANDBY1 =
		#{standby1,jdbcType=VARCHAR},
		STANDBY2 = #{standby2,jdbcType=VARCHAR},
		STANDBY3 = #{standby3,jdbcType=VARCHAR}
		where EQU_ID =
		#{equId,jdbcType=VARCHAR}
	</update>


	<!-- 根据id批量删除数据 -->
	<delete id="delRecordByIds"
		parameterType="cn.soa.entity.EquipmentCommonInfo">
		delete from IOT_EQUIPMENT_COMMON_INFO
		where EQU_ID in
		<foreach collection="list" open="(" separator="," close=")"
			index="index" item="item">
			#{item.equId,jdbcType=VARCHAR}
		</foreach>
	</delete>


	<!-- 恢复设备信息（设备通用属性） -->
	<insert id="recoveryEquInfo"
		parameterType="cn.soa.entity.QueryCondition">
		insert into IOT_EQUIPMENT_COMMON_INFO
		select EQU_ID,
		EQU_NAME,EQU_STATUS, EQU_POSITION_NUM,
		PROCESS_UNITS,
		EQU_MODEL,
		EQU_TYPE,
		EQU_TYPE_ID, ASSET_VALUE,
		EQU_MANUFACTURER,
		EQU_PRODUC_DATE,
		EQU_COMMISSION_DATE,
		EQU_INSTALL_POSITION, STANDBY1, STANDBY2, STANDBY3
		FROM IOT_EQUIPMENT_COMMON_INFO_BACK
		where BACK_ID =
		#{backId,jdbcType=VARCHAR}
	</insert>


</mapper>