<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.soa.dao.EquipmentTypeRMapper">
	<resultMap id="BaseResultMap"
		type="cn.soa.entity.EquipmentTypeR">
		<id column="ID" jdbcType="VARCHAR" property="id" />
		<result column="EQU_ID" jdbcType="VARCHAR" property="equId" />
		<result column="EQU_TYPE_ID" jdbcType="VARCHAR"
			property="equTypeId" />
		<result column="STANDBY1" jdbcType="VARCHAR"
			property="standby1" />
		<result column="STANDBY2" jdbcType="VARCHAR"
			property="standby2" />
		<result column="STANDBY3" jdbcType="VARCHAR"
			property="standby3" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, EQU_ID, EQU_TYPE_ID, STANDBY1, STANDBY2, STANDBY3
	</sql>
	
	
	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from IOT_EQUIPMENT_TYPE_R
		where ID = #{id,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from
		IOT_EQUIPMENT_TYPE_R
		where ID = #{id,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="cn.soa.entity.EquipmentTypeR">
		insert into
		IOT_EQUIPMENT_TYPE_R (ID, EQU_ID, EQU_TYPE_ID,
		STANDBY1, STANDBY2,
		STANDBY3
		)
		values (#{id,jdbcType=VARCHAR}, #{equId,jdbcType=VARCHAR},
		#{equTypeId,jdbcType=VARCHAR},
		#{standby1,jdbcType=VARCHAR},
		#{standby2,jdbcType=VARCHAR}, #{standby3,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective"
		parameterType="cn.soa.entity.EquipmentTypeR">
		insert into IOT_EQUIPMENT_TYPE_R
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="equId != null">
				EQU_ID,
			</if>
			<if test="equTypeId != null">
				EQU_TYPE_ID,
			</if>
			<if test="standby1 != null">
				STANDBY1,
			</if>
			<if test="standby2 != null">
				STANDBY2,
			</if>
			<if test="standby3 != null">
				STANDBY3,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="equId != null">
				#{equId,jdbcType=VARCHAR},
			</if>
			<if test="equTypeId != null">
				#{equTypeId,jdbcType=VARCHAR},
			</if>
			<if test="standby1 != null">
				#{standby1,jdbcType=VARCHAR},
			</if>
			<if test="standby2 != null">
				#{standby2,jdbcType=VARCHAR},
			</if>
			<if test="standby3 != null">
				#{standby3,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="cn.soa.entity.EquipmentTypeR">
		update IOT_EQUIPMENT_TYPE_R
		<set>
			<if test="equId != null">
				EQU_ID = #{equId,jdbcType=VARCHAR},
			</if>
			<if test="equTypeId != null">
				EQU_TYPE_ID = #{equTypeId,jdbcType=VARCHAR},
			</if>
			<if test="standby1 != null">
				STANDBY1 = #{standby1,jdbcType=VARCHAR},
			</if>
			<if test="standby2 != null">
				STANDBY2 = #{standby2,jdbcType=VARCHAR},
			</if>
			<if test="standby3 != null">
				STANDBY3 = #{standby3,jdbcType=VARCHAR},
			</if>
		</set>
		where ID = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="cn.soa.entity.EquipmentTypeR">
		update IOT_EQUIPMENT_TYPE_R
		set EQU_ID =
		#{equId,jdbcType=VARCHAR},
		EQU_TYPE_ID = #{equTypeId,jdbcType=VARCHAR},
		STANDBY1 = #{standby1,jdbcType=VARCHAR},
		STANDBY2 =
		#{standby2,jdbcType=VARCHAR},
		STANDBY3 = #{standby3,jdbcType=VARCHAR}
		where ID = #{id,jdbcType=VARCHAR}
	</update>


	<!-- 批量插入数据 -->
	<insert id="addRecores"
		parameterType="cn.soa.entity.EquipmentTypeR" useGeneratedKeys="false">
		insert into
		IOT_EQUIPMENT_TYPE_R
		(
		ID,
		EQU_ID,
		EQU_TYPE_ID,
		STANDBY1,
		STANDBY2,
		STANDBY3
		)
		<foreach collection="list" item="item" index="index"
			separator="union all">
			(
			SELECT SYS_GUID() AS ID,
			#{item.equId,jdbcType=VARCHAR},
			#{item.equTypeId,jdbcType=VARCHAR},
			#{item.standby1,jdbcType=VARCHAR},
			#{item.standby2,jdbcType=VARCHAR},
			#{item.standby3,jdbcType=VARCHAR}
			FROM DUAL
			)
		</foreach>
	</insert>



</mapper>