<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="cn.soa.dao.lubrication.EquipmentLubricationOilMapper">

	
	<!-- 设备润滑油品 -->
	<sql id="EquipmentLubricationOilSQL">
		ROWNUM rn,OID,ONAME,OSTOCK,OSTATE,OUNIT,ODESCRIBE,OTYPE,MANUFACTURE,OSIGN,OREMARK1,OREMARK2
	</sql>
	
	<!-- 设备润滑油品记录 -->
	<sql id="EquipmentOilRecordSQL">
		ORID,OID,RTIME,RID,RINOUT,RAMOUNT,USERID,RTYPE,RNOTE,RREMARK1,RREMARK2,RSTOCK
	</sql>
	
	<!-- 设备润滑油品记录 -->
	<sql id="EquipmentOilRecordVOSQL">
		ROWNUM rn,ORID,oil.OID,RTIME,RID,RINOUT,RAMOUNT,USERID,RTYPE,RNOTE,RREMARK1,RREMARK2,ONAME,OSTOCK,OSTATE,OUNIT,ODESCRIBE,OTYPE,MANUFACTURE,OSIGN,OREMARK1,OREMARK2,RSTOCK
	</sql>
	
	<!-- ===================================查询=================================== -->
	
	<!-- 查询所有油品 -->
	<!-- List<EquipmentLubricationOil> queryOilAllStock(Integer page, Integer limit); -->
	<select id="queryOilAllStock" resultType="cn.soa.entity.lubrication.EquipmentLubricationOil">
		SELECT 
			<include refid="EquipmentLubricationOilSQL"></include>
          FROM (SELECT 
	          		<include refid="EquipmentLubricationOilSQL"></include>
	            FROM (
	            	SELECT 
	          		<include refid="EquipmentLubricationOilSQL"></include>
	            FROM 
	            	IOT_EQUIPMENT_LUBRICATION_OIL ORDER BY cast(ostock as int))
				WHERE 
					ROWNUM <![CDATA[ <= ]]> #{maxSize} )
 		WHERE rn <![CDATA[ > ]]>  #{minSize} 
		<!-- AND ROWNUM  
		AND ROWNUM  -->
	</select>
	
	<!-- 查询所有油品数量 -->
	<!-- Integer countStock(); -->
	<select id="countStock" resultType="java.lang.Integer">
		SELECT
			count(*)
		FROM
			IOT_EQUIPMENT_LUBRICATION_OIL
	</select>
	
	<!-- List<EquipmentOilRecordVO> findOilAll(); -->
	<select id="findOilAll" resultType="cn.soa.entity.lubrication.EquipmentOilRecordVO">
		SELECT 
			<include refid="EquipmentOilRecordVOSQL"></include>
          FROM (SELECT 
	          		<include refid="EquipmentOilRecordVOSQL"></include>
	            FROM 
	            	IOT_EQUIPMENT_OIL_RECORD record,IOT_EQUIPMENT_LUBRICATION_OIL oil
				WHERE 
					record.oid = oil.oid 
				<if test="oid != null and oid != ''">
					AND oil.OID = #{oid}
				</if>
				<if test="startTime != null and startTime != ''">
					AND rtime <![CDATA[ >= ]]> to_date(#{startTime,jdbcType=DATE},'yyyy-mm-dd')
				</if>
				<if test="endTime != null and endTime != ''">
					AND rtime <![CDATA[ <= ]]> to_date(#{endTime,jdbcType=DATE},'yyyy-mm-dd')
				</if>
					and ROWNUM <![CDATA[ <= ]]> #{maxSize}
 					 ORDER BY rtime
 					 ) oil

 		WHERE 
 			rn <![CDATA[ > ]]>  #{minSize} 
 		
	</select>
	
	<!-- 查询油品出入库总数量 -->
	<!-- Integer countRecord(); -->
	<select id="countRecord" resultType="java.lang.Integer">
		SELECT
			count(*)
		FROM
			IOT_EQUIPMENT_OIL_RECORD record,IOT_EQUIPMENT_LUBRICATION_OIL oil
		WHERE 
			record.oid = oil.oid 
			<if test="oid != null and oid != ''">
					AND oil.OID = #{oid}
				</if> 
				<if test="startTime != null and startTime != ''">
					AND rtime <![CDATA[ >= ]]> to_date(#{startTime,jdbcType=DATE},'yyyy-mm-dd')
				</if>
				<if test="endTime != null and endTime != ''">
					AND rtime <![CDATA[ <= ]]> to_date(#{endTime,jdbcType=DATE},'yyyy-mm-dd')
				</if>
	</select>
	
	 <!-- 根据油品库存条件查询油品 -->
	<!-- public List<EquipmentLubricationOil> findOilbyConditions(EquipmentLubricationOil equipmentLubricationOil); -->
	<select id="findOilbyConditions" resultType="cn.soa.entity.lubrication.EquipmentLubricationOil">
		SELECT
			<include refid="EquipmentLubricationOilSQL"></include>
		FROM
			IOT_EQUIPMENT_LUBRICATION_OIL
		WHERE 
			1 = 1
			<if test="oid != null and oid != ''">
					and oid = #{oid}
				</if>
				<if test="oname != null and oname != ''">
					and oname = #{oname} 
				</if>
				<if test="ostock != null and ostock != ''">
					and ostock = #{ostock} 
				</if>
				<if test="ostate != null and ostate != ''">
					and ostate = #{ostate}
				</if>
				<if test="ounit != null and ounit != ''">
					and ounit = #{ounit} 
				</if>
				<if test="odescribe != null and odescribe != ''">
					and odescribe = #{odescribe} 
				</if>
				<if test="otype != null and otype != ''">
					and otype = #{otype} 
				</if>
				<if test="manufacture != null and manufacture != ''">
					and manufacture = #{manufacture} 
				</if>
				<if test="osign != null and osign != ''">
					and osign = #{osign} 
				</if>
				<if test="oremark1 != null and oremark1 != ''">
					and oremark1 = #{oremark1} 
				</if>
				<if test="oremark2 != null and oremark2 != ''">
					and oremark2 = #{oremark2} 
				</if>
	</select>
	
	
	<!-- ===========================2、新增===============================  -->
	<!-- 设备润滑新增油品 -->	
	<!-- Integer insertOil(EquipmentLubricationOil equipmentLubricationOil); -->
	<insert id="insertOil"	parameterType="cn.soa.entity.lubrication.EquipmentLubricationOil">
		<selectKey order="BEFORE" resultType="string" keyProperty="equip.oid">
			select sys_guid() from dual 
		</selectKey>
	
		INSERT INTO
			IOT_EQUIPMENT_LUBRICATION_OIL
			<trim prefix="(" suffix=")" suffixOverrides=",">
				<if test="equip.oid != null and equip.oid != ''">
					OID,
				</if>
				<if test="equip.oname != null and equip.oname != ''">
					ONAME,
				</if>
				<if test="equip.ostock != null and equip.ostock != ''">
					OSTOCK,
				</if>
				<if test="equip.ostate != null and equip.ostate != ''">
					OSTATE,
				</if>
				<if test="equip.ounit != null and equip.ounit != ''">
					OUNIT,
				</if>
				<if test="equip.odescribe != null and equip.odescribe != ''">
					ODESCRIBE,
				</if>
				<if test="equip.otype != null and equip.otype != ''">
					OTYPE,
				</if>
				<if test="equip.manufacture != null and equip.manufacture != ''">
					MANUFACTURE,
				</if>
				<if test="equip.osign != null and equip.osign != ''">
					OSIGN,
				</if>
				<if test="equip.oremark1 != null and equip.oremark1 != ''">
					OREMARK1,
				</if>
				<if test="equip.oremark2 != null and equip.oremark2 != ''">
					OREMARK2,
				</if>
			</trim>
		VALUES
		<trim prefix="(" suffix=")" suffixOverrides=",">
				<if test="equip.oid != null and equip.oid != ''">
					#{equip.oid},
				</if>
				<if test="equip.oname != null and equip.oname != ''">
					#{equip.oname}, 
				</if>
				<if test="equip.ostock != null and equip.ostock != ''">
					#{equip.ostock}, 
				</if>
				<if test="equip.ostate != null and equip.ostate != ''">
					#{equip.ostate},
				</if>
				<if test="equip.ounit != null and equip.ounit != ''">
					#{equip.ounit}, 
				</if>
				<if test="equip.odescribe != null and equip.odescribe != ''">
					#{equip.odescribe}, 
				</if>
				<if test="equip.otype != null and equip.otype != ''">
					#{equip.otype}, 
				</if>
				<if test="equip.manufacture != null and equip.manufacture != ''">
					#{equip.manufacture}, 
				</if>
				<if test="equip.osign != null and equip.osign != ''">
					#{equip.osign}, 
				</if>
				<if test="equip.oremark1 != null and equip.oremark1 != ''">
					#{equip.oremark1}, 
				</if>
				<if test="equip.oremark2 != null and equip.oremark2 != ''">
					#{equip.oremark2}, 
				</if>
			</trim>	
	</insert>
	
	
	<!-- 设备润滑新增油品出入库记录 -->
	<!-- Integer insertRecord(@Param("eqor") EquipmentOilRecord equipmentOilRecord) -->
	<insert id="insertRecord"	parameterType="cn.soa.entity.lubrication.EquipmentOilRecord">
		<selectKey order="BEFORE" resultType="string" keyProperty="eqor.orid">
			select sys_guid() from dual 
		</selectKey>
	
		INSERT INTO
			IOT_EQUIPMENT_OIL_RECORD
			<trim prefix="(" suffix=")" suffixOverrides=",">
				<if test="eqor.orid != null and eqor.orid != ''">
					ORID,
				</if>
				<if test="eqor.oid != null and eqor.oid != ''">
					OID,
				</if>
				<if test="eqor.rtime != null">
					RTIME,
				</if>
				<if test="eqor.rid != null and eqor.rid != ''">
					RID,
				</if>
				<if test="eqor.rinout != null and eqor.rinout != ''">
					RINOUT,
				</if>
				<if test="eqor.ramount != null and eqor.ramount != ''">
					RAMOUNT,
				</if>
				<if test="eqor.userid != null and eqor.userid != ''">
					USERID,
				</if>
				<if test="eqor.rtype != null and eqor.rtype != ''">
					RTYPE,
				</if>
				<if test="eqor.rnote != null and eqor.rnote != ''">
					RNOTE,
				</if>
				<if test="eqor.rremark1 != null and eqor.rremark1 != ''">
					RREMARK1,
				</if>
				<if test="eqor.rremark2 != null and eqor.rremark2 != ''">
					RREMARK2,
				</if>
				<if test="eqor.rstock != null and eqor.rstock != ''">
					RSTOCK,
				</if>
			</trim>
		VALUES
			<trim prefix="(" suffix=")" suffixOverrides=",">
				<if test="eqor.orid != null and eqor.orid != ''">
					#{eqor.orid},
				</if>
				<if test="eqor.oid != null and eqor.oid != ''">
					#{eqor.oid},
				</if>
				<if test="eqor.rtime != null">
					#{eqor.rtime},
				</if>
				<if test="eqor.rid != null and eqor.rid != ''">
					#{eqor.rid},
				</if>
				<if test="eqor.rinout != null and eqor.rinout != ''">
					#{eqor.rinout},
				</if>
				<if test="eqor.ramount != null and eqor.ramount != ''">
					#{eqor.ramount},
				</if>
				<if test="eqor.userid != null and eqor.userid != ''">
					#{eqor.userid},
				</if>
				<if test="eqor.rtype != null and eqor.rtype != ''">
					#{eqor.rtype},
				</if>
				<if test="eqor.rnote != null and eqor.rnote != ''">
					#{eqor.rnote},
				</if>
				<if test="eqor.rremark1 != null and eqor.rremark1 != ''">
					#{eqor.rremark1},
				</if>
				<if test="eqor.rremark2 != null and eqor.rremark2 != ''">
					#{eqor.rremark2},
				</if>
				<if test="eqor.rstock != null and eqor.rstock != ''">
					#{eqor.rstock},
				</if>
			</trim>
	</insert>
	
	<!-- ===========================3、修改===============================  -->

	<!-- 油品入库 -->
	<!-- Integer updateStock(String ramount,String oid); -->
	
	<update id="updateStock" parameterType="java.lang.Integer">
		UPDATE 
			IOT_EQUIPMENT_LUBRICATION_OIL
				<set>
				   ostock = ostock+#{ramount}
				</set>
				<where>
					oid = #{oid}
				</where>
	</update>
	
	<!-- ===========================4、删除===============================  -->
			
	
</mapper>
 

