<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.soa.dao.spareparts.SpRecordMapper">
  <resultMap id="BaseResultMap" type="cn.soa.entity.spareparts.SpRecord">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="REQUEST_CODE" jdbcType="VARCHAR" property="requestCode" />
    <result column="TYPR" jdbcType="VARCHAR" property="typr" />
    <result column="SP_ID" jdbcType="VARCHAR" property="spId" />
    <result column="SP_NAME" jdbcType="VARCHAR" property="spName" />
    <result column="SP_INVENTORY" jdbcType="DECIMAL" property="spInventory" />
    <result column="QUANTITY" jdbcType="DECIMAL" property="quantity" />
    <result column="UNIT_COST" jdbcType="DECIMAL" property="unitCost" />
    <result column="UNIT" jdbcType="VARCHAR" property="unit" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, REQUEST_CODE, TYPR, SP_ID, SP_NAME, SP_INVENTORY, QUANTITY, UNIT_COST, UNIT, 
    REMARK
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from IOT_SP_RECORD
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from IOT_SP_RECORD
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.soa.entity.spareparts.SpRecord">
    insert into IOT_SP_RECORD (ID, REQUEST_CODE, TYPR, 
      SP_ID, SP_NAME, SP_INVENTORY, 
      QUANTITY, UNIT_COST, UNIT, 
      REMARK)
    values (#{id,jdbcType=VARCHAR}, #{requestCode,jdbcType=VARCHAR}, #{typr,jdbcType=VARCHAR}, 
      #{spId,jdbcType=VARCHAR}, #{spName,jdbcType=VARCHAR}, #{spInventory,jdbcType=DECIMAL}, 
      #{quantity,jdbcType=DECIMAL}, #{unitCost,jdbcType=DECIMAL}, #{unit,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.soa.entity.spareparts.SpRecord">
    insert into IOT_SP_RECORD
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="requestCode != null">
        REQUEST_CODE,
      </if>
      <if test="typr != null">
        TYPR,
      </if>
      <if test="spId != null">
        SP_ID,
      </if>
      <if test="spName != null">
        SP_NAME,
      </if>
      <if test="spInventory != null">
        SP_INVENTORY,
      </if>
      <if test="quantity != null">
        QUANTITY,
      </if>
      <if test="unitCost != null">
        UNIT_COST,
      </if>
      <if test="unit != null">
        UNIT,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="requestCode != null">
        #{requestCode,jdbcType=VARCHAR},
      </if>
      <if test="typr != null">
        #{typr,jdbcType=VARCHAR},
      </if>
      <if test="spId != null">
        #{spId,jdbcType=VARCHAR},
      </if>
      <if test="spName != null">
        #{spName,jdbcType=VARCHAR},
      </if>
      <if test="spInventory != null">
        #{spInventory,jdbcType=DECIMAL},
      </if>
      <if test="quantity != null">
        #{quantity,jdbcType=DECIMAL},
      </if>
      <if test="unitCost != null">
        #{unitCost,jdbcType=DECIMAL},
      </if>
      <if test="unit != null">
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.soa.entity.spareparts.SpRecord">
    update IOT_SP_RECORD
    <set>
      <if test="requestCode != null">
        REQUEST_CODE = #{requestCode,jdbcType=VARCHAR},
      </if>
      <if test="typr != null">
        TYPR = #{typr,jdbcType=VARCHAR},
      </if>
      <if test="spId != null">
        SP_ID = #{spId,jdbcType=VARCHAR},
      </if>
      <if test="spName != null">
        SP_NAME = #{spName,jdbcType=VARCHAR},
      </if>
      <if test="spInventory != null">
        SP_INVENTORY = #{spInventory,jdbcType=DECIMAL},
      </if>
      <if test="quantity != null">
        QUANTITY = #{quantity,jdbcType=DECIMAL},
      </if>
      <if test="unitCost != null">
        UNIT_COST = #{unitCost,jdbcType=DECIMAL},
      </if>
      <if test="unit != null">
        UNIT = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.soa.entity.spareparts.SpRecord">
    update IOT_SP_RECORD
    set REQUEST_CODE = #{requestCode,jdbcType=VARCHAR},
      TYPR = #{typr,jdbcType=VARCHAR},
      SP_ID = #{spId,jdbcType=VARCHAR},
      SP_NAME = #{spName,jdbcType=VARCHAR},
      SP_INVENTORY = #{spInventory,jdbcType=DECIMAL},
      QUANTITY = #{quantity,jdbcType=DECIMAL},
      UNIT_COST = #{unitCost,jdbcType=DECIMAL},
      UNIT = #{unit,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>